body{
    background: #fefefe;
}

section{
    background:#eceaea;
}


h1{
    color:#313030;
}
p{
    color:#446474;
}
h2{
    color:#4F6367;
    background:#CFDBD5;
}
h3{
    color:#3C493F;
}
.crayola-header{
    color:#1F363D;
}
#top{
    background:#93A8AC;
}

a{
    color:#D3BCCC;
}

.header-link {
    color:#B48291;
}
footer{
    color:#576066;
}
.navigation{
    background:#8f8686;
    padding: 16px;
    border-radius: 8px;
}
.navigation_link{
    color:#ffffff;
    display: inline-block;
    margin-right: 20px;
}
.navigation_link--homepage{
    color: greenyellow;
}

.main{
   max-width: 1000px;
   margin: 0 auto;
}